<aside
  class="sidebar"
  [ngClass]="{
    'w-[22rem]': isSidebarOpen,
    'w-max': !isSidebarOpen
  }"
>
  <div class="sidebar__scroll">
    <!-- Menu List -->
    <ul class="flex flex-col pt-5 list-none">
      @for (item of sidebarItems; track $index) {
      <li
        class="p-0"
        [ngClass]="{
          'px-0': isSidebarOpen,
          'px-3': !isSidebarOpen
        }"
      >
        <a
          class="has-arrow ai-icon"
          aria-expanded="true"
          [ngClass]="{
            'px-12 py-[20px]': isSidebarOpen,
            'p-3 hover:bg-primary hover:text-white rounded-md mb-4 group': !isSidebarOpen
          }"
        >
          <div class="flex items-center">
            <i
              class="{{ item.icon }} "
              [ngClass]="{
                'ml-6': isSidebarOpen,
                ' group-hover:text-white': !isSidebarOpen
              }"
            ></i>
            <span
              class="nav-text"
              [ngClass]="{
                hidden: !isSidebarOpen
              }"
              >{{ item.label }}</span
            >
          </div>
        </a>
      </li>
      }
    </ul>

    <!-- Alert -->
    <div
      class="sidebar__add-menu flex flex-col items-center"
      [ngClass]="{
        hidden: !isSidebarOpen
      }"
    >
      <img src="https://davur.dexignzone.com/laravel/demo/images/icon1.png" alt="" />
      <p class="mb-4">شما هنوز منویی تعریف نکرده اید! برای افزودن منو کلیک کنید</p>
      <a class="btn btn-primary btn-block light">+ افزودن منو</a>
    </div>

    <!-- Copy right -->
    <div
      class="copyright text-center"
      [ngClass]="{
        hidden: !isSidebarOpen
      }"
    >
      <p class="mb-2">© <strong>دیجی رستو - سامانه ساخت منوی دیجیتال </strong></p>
      <p>ساخته شده با <i class="icon-heart"></i> توسط محمد حسین و نگین</p>
    </div>
  </div>
</aside>
