<aside class="sidebar">
  <div class="sidebar__scroll">
    <!-- Menu List -->
    <ul class="flex flex-col pt-5 list-none">
      <li class="p-0">
        <a class="has-arrow ai-icon" aria-expanded="true">
          <div class="flex items-center">
            <i class="icon-dashboard ml-6"></i>
            <span class="nav-text">داشبورد</span>
          </div>
        </a>
      </li>
      <li class="p-0">
        <a class="has-arrow ai-icon" aria-expanded="true">
          <div class="flex items-center">
            <i class="icon-food-menu ml-6"></i>
            <span class="nav-text">مدیریت منو غذایی</span>
          </div>
        </a>
      </li>
      <li class="p-0">
        <a class="has-arrow ai-icon" aria-expanded="true">
          <div class="flex items-center">
            <i class="icon-bell ml-6"></i>
            <span class="nav-text">مدیریت گارسون</span>
          </div>
        </a>
      </li>
      <li class="p-0">
        <a class="has-arrow ai-icon" aria-expanded="true">
          <div class="flex items-center">
            <i class="icon-messages ml-6"></i>
            <span class="nav-text">پیام ها</span>
          </div>
        </a>
      </li>
      <li class="p-0">
        <a class="has-arrow ai-icon" aria-expanded="true">
          <div class="flex items-center">
            <i class="icon-info ml-6"></i>
            <span class="nav-text">مشخصات رستوران</span>
          </div>
        </a>
      </li>
      <li class="p-0">
        <a class="has-arrow ai-icon" aria-expanded="true">
          <div class="flex items-center">
            <i class="icon-content ml-6"></i>
            <span class="nav-text">مدیریت محتوا</span>
          </div>
        </a>
      </li>
      <li class="p-0">
        <a class="has-arrow ai-icon" aria-expanded="true">
          <div class="flex items-center">
            <i class="icon-settings ml-6"></i>
            <span class="nav-text">تنظیمات پنل</span>
          </div>
        </a>
      </li>
      <li class="p-0">
        <a class="has-arrow ai-icon" aria-expanded="true">
          <div class="flex items-center">
            <i class="icon-logout ml-6"></i>
            <span class="nav-text">خروج</span>
          </div>
        </a>
      </li>
    </ul>

    <!-- Alert -->
    <div class="sidebar__add-menu flex flex-col items-center">
      <img src="https://davur.dexignzone.com/laravel/demo/images/icon1.png" alt="" />
      <p class="mb-4">شما هنوز منویی تعریف نکرده اید! برای افزودن منو کلیک کنید</p>
      <a class="btn btn-primary btn-block light">+ افزودن منو</a>
    </div>

    <!-- Copy right -->
  </div>
</aside>
