/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --p-inputtext-focus-border-color: transparent !important; /* your blue */
  --p-inputtext-focus-ring-color: transparent !important; /* glow color */
  --p-inputtext-background: #fbfbfb !important;
  --p-floatlabel-focus-color: #2f4cdd !important;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekanRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekan-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekan-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekan-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekan-ExtraBlack.woff') format('woff');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekan-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekan-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekan-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  direction: rtl;
  background-color: #fbfbfb;
  font-family: 'IRANYekan';
  position: relative;
}

img {
  vertical-align: middle;
  border-style: none;
}

// Icons
.icon-dashboard {
  display: inline-block;
  width: 32px;
  height: 32px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M16 16h4v4h-4zm-6 0h4v4h-4zm-6 0h4v4H4zm12-6h4v4h-4zm-6 0h4v4h-4zm-6 0h4v4H4zm12-6h4v4h-4zm-6 0h4v4h-4zM4 4h4v4H4z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
