<header class="header">
  <div class="header__content"></div>
</header>

<div class="nav-header right-0">
  <a class="brand-logo">
    <img class="logo-abbr" src="https://davur.dexignzone.com/laravel/demo/images/logo.png" alt="" />
    <!-- <img
      class="logo-compact"
      src="https://davur.dexignzone.com/laravel/demo/images/logo-text.png"
      alt=""
    /> -->
    <!-- <img
      class="brand-title"
      src="https://davur.dexignzone.com/laravel/demo/images/logo-text.png"
      alt=""
    /> -->
  </a>

  <div class="nav-control">
    <div class="hamburger">
      <span class="line"></span><span class="line"></span><span class="line"></span>
    </div>
  </div>
</div>
